In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder

In [3]:
data = pd.read_csv("Churn_Modelling.csv")
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
data_trim = data.drop(columns=['RowNumber','CustomerId','Surname'])
data_trim

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
label_encoder = LabelEncoder()
data_trim['Gender'] = label_encoder.fit_transform(data_trim['Gender'])
data_trim

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
onehot = OneHotEncoder()
geo = onehot.fit_transform(data_trim[['Geography']])
geo

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [9]:
geo_col = geo.toarray()
geo_col
onehot.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [11]:
geo_col_df = pd.DataFrame(geo_col,columns=onehot.get_feature_names_out())
geo_col_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [14]:
data_trim = pd.concat([data_trim.drop(columns='Geography'),geo_col_df],axis=1)
data_trim

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [15]:
X = data_trim.drop(columns='EstimatedSalary')
y = data_trim['EstimatedSalary']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.02,random_state=42)

In [16]:
scale = StandardScaler()

X_train = scale.fit_transform(X_train)
X_test = scale.transform(X_test)

In [18]:
import pickle

with open("label_encoder.pkl",'wb') as f:
    pickle.dump(label_encoder,f)

with open("onehot.pkl",'wb') as f:
    pickle.dump(onehot,f)

with open("scaler.pkl",'wb') as f:
    pickle.dump(scale,f)

In [19]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

In [27]:
model = Sequential()

model.add(Dense(64,activation='relu',input_shape =(X_train.shape[1],)))
model.add(Dense(32,activation='relu'))
model.add(Dense(1))

In [28]:
model.summary()

Model: "sequential_7"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_8 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_9 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_10 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [30]:
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [31]:
import datetime

log_dir = "tb_log/fit/"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

In [34]:
tb_cb = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [32]:
early_cb = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [35]:
history = model.fit(
    X_train,y_train,validation_data = (X_test,y_test),epochs = 100,
    callbacks=[tb_cb,early_cb]
)

Epoch 1/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 6s 4ms/step - loss: 99869.5156 - mae: 99869.5156 - val_loss: 98556.2031 - val_mae: 98556.2031
Epoch 2/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 99247.5078 - mae: 99247.5078 - val_loss: 95904.7578 - val_mae: 95904.7578
Epoch 3/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 95939.7422 - mae: 95939.7422 - val_loss: 89909.4375 - val_mae: 89909.4375
Epoch 4/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 88418.1094 - mae: 88418.1094 - val_loss: 80608.1484 - val_mae: 80608.1484
Epoch 5/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 77219.5859 - mae: 77219.5859 - val_loss: 70383.8672 - val_mae: 70383.8672
Epoch 6/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 66337.4922 - mae: 66337.4922 - val_loss: 62257.3008 - val_mae: 62257.3008
Epoch 7/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 58230.5898 - mae: 58230.5898 - val_loss: 57153.8906 - val_mae: 57153.8906
Epoch 8/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 52933.0977 - mae: 52933.0977 - val_loss: 54838.3945 - val_mae: 54838.3945
Epoch 9/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51002.4766 - mae: 51002.4766 - val_loss: 54178.1484 - val_mae: 54178.1484
Epoch 10/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49937.2070 - mae: 49937.2070 - val_loss: 53851.8438 - val_mae: 53851.8438
Epoch 11/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50610.2500 - mae: 50610.2500 - val_loss: 53699.9336 - val_mae: 53699.9336
Epoch 12/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50806.6016 - mae: 50806.6016 - val_loss: 53581.5039 - val_mae: 53581.5039
Epoch 13/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49981.2695 - mae: 49981.2695 - val_loss: 53498.9961 - val_mae: 53498.9961
Epoch 14/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50065.2383 - mae: 50065.2383 - val_loss: 53424.7031 - val_mae: 53424.7031
Epoch 15/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50044.1797 - mae: 50044.1797 - val_loss: 53360.1484 - val_mae: 53360.1484
Epoch 16/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49546.3594 - mae: 49546.3594 - val_loss: 53352.3945 - val_mae: 53352.3945
Epoch 17/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49972.3398 - mae: 49972.3398 - val_loss: 53295.1250 - val_mae: 53295.1250
Epoch 18/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49600.3711 - mae: 49600.3711 - val_loss: 53260.6211 - val_mae: 53260.6211
Epoch 19/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49578.6094 - mae: 49578.6094 - val_loss: 53221.6094 - val_mae: 53221.6094
Epoch 20/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50054.0859 - mae: 50054.0859 - val_loss: 53177.2383 - val_mae: 53177.2383
Epoch 21/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49695.8906 - mae: 49695.8906 - val_loss: 53159.9609 - val_mae: 53159.9609
Epoch 22/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49473.2383 - mae: 49473.2383 - val_loss: 53154.2188 - val_mae: 53154.2188
Epoch 23/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49399.5312 - mae: 49399.5312 - val_loss: 53140.4102 - val_mae: 53140.4102
Epoch 24/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50031.9922 - mae: 50031.9922 - val_loss: 53118.0195 - val_mae: 53118.0195
Epoch 25/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49539.9141 - mae: 49539.9141 - val_loss: 53124.1055 - val_mae: 53124.1055
Epoch 26/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50162.5469 - mae: 50162.5469 - val_loss: 53117.0742 - val_mae: 53117.0742
Epoch 27/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50313.3203 - mae: 50313.3203 - val_loss: 53105.7734 - val_mae: 53105.7734
Epoch 28/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50289.1562 - mae: 50289.1562 - val_loss: 53080.9844 - val_mae: 53080.9844
Epoch 29/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49793.9531 - mae: 49793.9531 - val_loss: 53080.8516 - val_mae: 53080.8516
Epoch 30/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 48852.7656 - mae: 48852.7656 - val_loss: 53083.3164 - val_mae: 53083.3164
Epoch 31/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49973.7578 - mae: 49973.7578 - val_loss: 53060.9766 - val_mae: 53060.9766
Epoch 32/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49188.6289 - mae: 49188.6289 - val_loss: 53046.5312 - val_mae: 53046.5312
Epoch 33/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49376.9336 - mae: 49376.9336 - val_loss: 53034.6914 - val_mae: 53034.6914
Epoch 34/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49728.0586 - mae: 49728.0586 - val_loss: 53040.2148 - val_mae: 53040.2148
Epoch 35/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49719.6289 - mae: 49719.6289 - val_loss: 53028.5195 - val_mae: 53028.5195
Epoch 36/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49703.8633 - mae: 49703.8633 - val_loss: 53005.2266 - val_mae: 53005.2266
Epoch 37/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49427.3984 - mae: 49427.3984 - val_loss: 53003.3359 - val_mae: 53003.3359
Epoch 38/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49528.0078 - mae: 49528.0078 - val_loss: 52995.8984 - val_mae: 52995.8984
Epoch 39/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49198.0078 - mae: 49198.0078 - val_loss: 52976.5117 - val_mae: 52976.5117
Epoch 40/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49194.6445 - mae: 49194.6445 - val_loss: 52950.8984 - val_mae: 52950.8984
Epoch 41/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49551.7344 - mae: 49551.7344 - val_loss: 52963.7383 - val_mae: 52963.7383
Epoch 42/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49534.9922 - mae: 49534.9922 - val_loss: 52963.3203 - val_mae: 52963.3203
Epoch 43/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49036.7656 - mae: 49036.7656 - val_loss: 52974.6914 - val_mae: 52974.6914
Epoch 44/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49828.3555 - mae: 49828.3555 - val_loss: 52978.6484 - val_mae: 52978.6484
Epoch 45/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49531.6797 - mae: 49531.6797 - val_loss: 52967.0547 - val_mae: 52967.0547
Epoch 46/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49703.4219 - mae: 49703.4219 - val_loss: 52956.2031 - val_mae: 52956.2031
Epoch 47/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49390.3750 - mae: 49390.3750 - val_loss: 52973.0000 - val_mae: 52973.0000
Epoch 48/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49517.4219 - mae: 49517.4219 - val_loss: 52966.9102 - val_mae: 52966.9102
Epoch 49/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49351.2578 - mae: 49351.2578 - val_loss: 52944.8047 - val_mae: 52944.8047
Epoch 50/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49410.4922 - mae: 49410.4922 - val_loss: 52940.0664 - val_mae: 52940.0664
Epoch 51/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49534.7578 - mae: 49534.7578 - val_loss: 52949.9688 - val_mae: 52949.9688
Epoch 52/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49490.2539 - mae: 49490.2539 - val_loss: 52932.8789 - val_mae: 52932.8789
Epoch 53/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50032.3203 - mae: 50032.3203 - val_loss: 52930.0781 - val_mae: 52930.0781
Epoch 54/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49220.0938 - mae: 49220.0938 - val_loss: 52957.7461 - val_mae: 52957.7461
Epoch 55/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49676.5117 - mae: 49676.5117 - val_loss: 52928.3516 - val_mae: 52928.3516
Epoch 56/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49558.9609 - mae: 49558.9609 - val_loss: 52926.1406 - val_mae: 52926.1406
Epoch 57/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49046.2656 - mae: 49046.2656 - val_loss: 52930.3711 - val_mae: 52930.3711
Epoch 58/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49583.4375 - mae: 49583.4375 - val_loss: 52930.9688 - val_mae: 52930.9688
Epoch 59/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49760.9609 - mae: 49760.9609 - val_loss: 52942.8086 - val_mae: 52942.8086
Epoch 60/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49545.5195 - mae: 49545.5195 - val_loss: 52974.0547 - val_mae: 52974.0547
Epoch 61/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49595.0508 - mae: 49595.0508 - val_loss: 52980.7852 - val_mae: 52980.7852
Epoch 62/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49301.9961 - mae: 49301.9961 - val_loss: 52957.4258 - val_mae: 52957.4258
Epoch 63/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49489.3281 - mae: 49489.3281 - val_loss: 52952.9297 - val_mae: 52952.9297
Epoch 64/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49490.1055 - mae: 49490.1055 - val_loss: 52929.2812 - val_mae: 52929.2812
Epoch 65/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49174.3281 - mae: 49174.3281 - val_loss: 52928.7656 - val_mae: 52928.7656
Epoch 66/100
307/307 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49694.0586 - mae: 49694.0586 - val_loss: 52937.3711 - val_mae: 52937.3711

In [37]:
model.save('salary_pred_mode.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [38]:
%load_ext tensorboard

In [44]:
%tensorboard --logdir tb_log/fit/

Reusing TensorBoard on port 6009 (pid 18816), started 0:00:02 ago. (Use '!kill 18816' to kill it.)